*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Alegreya';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.container{
      height: 600px;
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #000;
    color: #fff; 
    align-items: center;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    margin-right: 5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

#hero{
    background-image:url(../images/circle.png);
}

@media screen and (min-width:1650px) {
    .container{
        max-width: 150rem;
    }
}


@media screen and (min-width:1920px){
    .container{
        max-width: 170rem;
    }
}