* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-theme {
    display: inline-block;
    width: 30rem;
    height: 6.3rem;
    background-color: #C8191C;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 1.2rem;
}

.container {}

h2 {
    font-weight: 700;
    font-size: 140px;
    line-height: 191px;
    color: #FFFFFF;
}

h3 {
    font-weight: 700;
    font-size: 84px;
    line-height: 114px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h4 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h5 {
    font-weight: 700;
    font-size: 54px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}


h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #C8191C;

}


/********header*********/

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    background-color: #000000;
}

header .container {
    display: flex;
    justify-content: space-between;
    /* background-color: transparent; */
    color: #fff;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin-right: 5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

/************************/

/******hero section******/

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    position: relative;
}

#hero::before {
    background: url(../images/circle.png);
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0.1;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-data {
    padding-top: 37.7rem;
    text-align: center;
    position: relative;
    z-index: 9;
    padding-bottom: 15.8rem;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 130px;
    line-height: 160px;
    color: #FFFFFF;

}

.hero-data span {
    color: #C8191C;
}

.hero-data p {
    padding: 5.5rem 0;
    width: 90rem;
    margin: 0 auto;
}



/**************************/


/*******discover-section*****/

#discover {
    padding: 24.5rem 0 0 0;
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);

}

.discover-symbol h5 {
    padding-top: 2rem;
}

#discover .discover-symbol>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover-about {
    padding: 20rem 0 20rem 0;
    position: relative;
}

.discover-about p {
    padding-top: 10rem;
}

.discover-about h5 {
    padding: 1.8rem 0 10.5rem 0;
}

.discover-about .border-end {
    padding-right: 11.5rem;
    border-right-color: 2px solid #FFFFFF;
}



/***************************/


/*******super section******/

#super {
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);

}

.imagine {
    padding-top: 5rem;
}

.super-data p {
    padding-top: 11.5rem;
}

.super-image {
    padding-left: 8.8rem;
}

.super-image img {
    width: 100%;
}

.super-main h2 {
    padding: 10.4rem 5rem 0 0;
}


/*****************************/


/******services section*******/

#services {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding-top: 20rem;
}

#services h6 {
    text-align: center;
}

#services h3 {
    text-align: center;
}

.services-box {
    border: 2px solid #fff;
    padding: 5rem 6rem;
}

.services-box h4 {
    padding-top: 5rem;
}

.services-box p {
    padding-top: 2rem;
}

.services-box img {
    width: 100%;
}

#services .col-md-6:nth-child(odd) {
    padding: 7.5rem 7.5rem 7.5rem 4.2rem;
}

#services .col-md-6:nth-child(even) {
    padding: 7.5rem 4.2rem 7.5rem 7.5rem;
}


/*****************************/


/*********why section*********/

#why {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    padding: 20rem 0;
}

.why-main {
    justify-content: space-between;

}

#why .why-main .why-data {
    text-align: center;
}


#why h6 {
    text-align: center;
}

#why h3 {
    text-align: center;
}

.why-data {
    width: 41rem;
    height: 30.2rem;
    padding-top: 17.2rem;
}

.why-data h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 3rem 0;
}

.why-data img {
    margin: 0 auto;
}


/****************************/

/*****horo scope**********/

#horo {
    background: linear-gradient(0deg, #000000 36.84%, #C8191C 223.16%);
    padding: 20rem 0;
}

#horo .container>h6 {
    text-align: center;
}

#horo h3 {
    max-width: 105.4rem;
    text-align: center;
    margin: 0 auto;
}

#horo .horo-main>* {
    margin-right: 8.1rem;
}

#horo .horo-main {
    margin: 10rem 0;
}

.horo-img {
    display: flex;
}

.horo-img img {
    margin-right: 6rem;
}

.horo-data h5 {
    text-align: start;
}

#horo .horo-button {
    text-align: center;
}

.partner-main {
    padding-top: 20rem;
    justify-content: space-between;
    text-align: center;
}

.partner-main h2 {
    font-weight: 700;
    font-size: 100px;
    line-height: 136px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*************************/


/*****appointment section*****/

#appointment {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    padding: 0 0 20rem 0;
}

#appointment h3 {
    max-width: 46rem;
}

#appointment .appointment-1 {
    margin-top: 25rem;
}

.appointment-main .appointment-data {
    background-color: transparent;
    color: #fff;
    width: 435px;
    height: 100px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 2px solid #FFFFFF;
}


.appointment-main .appointment-button
{
    padding-top: 8rem;
}

.appointment-main .appointment-font {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8rem 0 3rem 0;
}

#appointment input::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}



/******************************/

/******become section*******/
#become {
    background: linear-gradient(180deg, #514242 -74.63%, #2E0A0A 38.7%, #000000 151.34%);

    position: relative;

}

#become::before {
    background: url(../images/b-1.png);
    content: '';
    inset: 0;
    position: absolute;
    background-size: 85% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.become-main {
    padding: 10.5rem 0;
    text-align: center;
}

.become-main p {
    width: 89.8rem;
    margin: 0 auto;
    padding: 2rem 0 5rem 0;
}

/***************************/


/********membership section*********/

#membership {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
    padding: 21.9rem 0;
}

#membership h6 ,#membership h3{
    text-align: center;
}

#membership .row {
    justify-content: space-between;
    padding: 0 2rem;
}

#membership .row>* .membership-data {
    padding: 6rem 7.7rem;
}

.membership-data {
    color: #fff;
}

.membership-main h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.membership-main h4 {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 3rem 0 3rem 3rem;
}

.membership-main h4 span{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.membership-data ul li{
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

.membership-data ul a{
    margin-top: 8rem;
}

#membership .row>*:nth-child(odd) {
    padding:8rem 4.5rem 0 4.5rem;
}

#membership .row>*:nth-child(even) {
    padding:8rem 4.5rem 0 4.5rem;
}

#membership .membership-main .membership-data:hover{
    background-color: #C8191C;
    
}



#membership .membership-main .membership-data:hover .btn-theme{
    background-color: #fff;
    color: #C8191C;
}


/*******************************/

/*********our section**********/

#our{
    background: linear-gradient(180deg, #000000 16.49%, #C8191C 274.79%);
}

#our h2{
    text-align: center;
    max-width: 144.6rem;
    margin: 0 auto;
}

#our .our-1 img{
    margin: 0 auto;
    padding: 10rem 0 15rem 0;
}

.our-slider .our-data h5{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

our
/******************************/

@media screen and (min-width:1650px) {
    .container {
        max-width: 150rem;
    }
}


@media screen and (min-width:1920px) {
    .container {
        max-width: 170rem;
    }
}